.blogView {
  width: 40%;
  margin: 50px auto;
}
.blogView img {
  width: 100%;
  height: 350px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.blogView .author {
  font-weight: bolder;
  margin: 0 0 3px 0;
}
.blogView .publishDate,
.blogView span {
  color: gray;
  font-size: 14px;
}
.blogView .title {
  margin: 20px 0 15px 0;
}
.blogView .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 40px 10px;
}
.blogView .categories button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.blogView .description {
  margin-top: 30px;
  color: #404049;
  line-height: 28px;
}
/* Slider */
.similarArticles {
  font-size: 32px;
  margin: 100px 0 50px 14%;
}
.custom-slider {
  width: 72%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.custom-slide {
  width: 410px !important;
  height: 700px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.custom-arrow {
  position: absolute;
  top: -75px;
  font-size: 50px;
  cursor: pointer;
}
.custom-arrow.prev {
  right: 105px;
  color: lightgray;
}

.custom-arrow.next {
  right: 44px;
  color: #5d37f3;
}
