.category {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.category button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px;
}
