.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
}
.category button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
 option {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}