.secondHeader {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  margin: 0 auto;
}
.secondHeader img {
  width: 625px;
  height: 200px;
}
.secondHeader h1 {
  font-family: "FiraGO";
  font-size: 64px;
}
