@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: url(https://free.bboxtype.com/embedfonts/fonts.php?family=FiraGO&weight=400)
    format("woff");
}
body {
  background-color: #e4e3eb;
}
* {
  font-family: "FiraGO";
}
body button:hover {
  opacity: 0.5;
}
h1,
h2,
h3 {
  font-weight: bolder;
}
button {
  outline: none !important;
}